* {
    font-family: 'Montserrat', sans-serif;
    color: #000;
    margin: 0;
    height: 100%;
}
  /* LOGIN PAGE */
.wrapper-login {
    display: flex;
    flex-direction: row;
}

.wrapper-login > .item {
    width: 50%;
}

.wrapper-login > #div-frontpage {
    background: #FFEE7D;
}

.wrapper-login > #div-frontpage > h1 {
    font-size: 80px;
    margin: auto;
    text-align: center;
}

form {
    background: red;
    display: grid;
    grid-template-columns: 10;

}
