html {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
}

body {
    height: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: 200px auto;

}

aside {
    background: #212040;
    float: left;
    margin: 0;
    padding: 0px;
    height: 100%;
    color: #fff;

}

aside ul {
    color: #fff;
}

main {
    height: 93%;
    background: #ececec;
    margin: 0;
    padding: 30px;
}

#paper {
    background: white;
    margin: auto;
    height: 100%;
    border-radius: 6px;
    padding: 20px;
}

a {
    text-decoration: none;
    color: #fff;
}

.noteName {
    font-size: 14px;
}

.notePreview {
    font-size: 12px;
}

#newNoteButton img {
    width: 25px;
    margin: auto;
}

#menu img {
    width: 20px;
}

#title {
    color: white;
    font-size: 30px;
}

#nav {
    display: grid;
    grid-template-columns: 70% auto;
}

button {
    background: none;
    border: none;
}

input {
    border: none;
}

#inputTitle {
     height: 30px;
     margin-top: 40px;
     margin-left: 20px;
}
#inputTitle::placeholder {
    font-size: 24px;
    color: black;
}